 header {
        background-color: rgb(173, 173, 193);
        color: #fff;
        display: flex;
        justify-content: space-between;
       padding: 1rem;
      }
      .logo {
        display: flex;
        align-items: center;
      }
      .logo img {
        height: 50px;
      }
      nav ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
      }
      nav ul li {
        margin-right: 1rem;
      } 
      nav ul li:last-child {
        margin-right: 440px;   
      }
      nav ul li a {
        color: rgb(3, 3, 61);
        text-decoration: none;
        font-size: x-large;
      }
      #Sosyal{
        float: right; 
        position: relative;bottom: 60px;
        color: rgb(3, 3, 61); 
      }
      
          